C:Userspwrf2AppDataLocalTempventas_nodes_conns.json
{"nodes": [{"id": "c0000000-0003-0003-0003-000000000000", "name": "Sticky Note", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [200, 80], "parameters": {"content": "## Ventas IA - WhatsApp Agent\n\n**Propósito:** Agente conversacional de IA que atiende clientes potenciales vía WhatsApp y genera cotizaciones de vehículos siguiendo un flujo de 7 pasos.\n\n**Webhook path:** `ventas-ia-inbound` (POST)\n\n**Variables de n8n requeridas:**\n- `WA_API_URL` → URL de Meta Cloud API con el Phone Number ID\n- `WA_BEARER_TOKEN` → Token de acceso Meta Cloud API\n- `CRM_BASE_URL` → URL base del CRM sin slash final\n- `CRM_WEBHOOK_SECRET` → Valor de CONVERSATIONS_WEBHOOK_SECRET\n- `VENTAS_WEBHOOK_SECRET` → Valor de VENTAS_WEBHOOK_SECRET\n- `ANTHROPIC_API_KEY` → Clave API de Anthropic", "height": 320, "width": 700, "color": 3}}, {"id": "c0000000-0003-0003-0003-000000000001", "name": "Webhook Inbound Ventas", "type": "n8n-nodes-base.webhook", "typeVersion": 2.1, "position": [200, 640], "parameters": {"httpMethod": "POST", "path": "ventas-ia-inbound", "responseMode": "responseNode", "options": {}}, "webhookId": "ventas-ia-inbound-wh"}, {"id": "c0000000-0003-0003-0003-000000000002", "name": "Parse Input & Load History", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [420, 640], "parameters": {"jsCode": "const body = $input.first().json.body || $input.first().json;\nconst phone = String(body.phone || '').trim();\nconst text = String(body.text || '').trim();\nconst sessionId = body.session_id || null;\n\nif (!phone || !text) {\n  return [{ json: { _is_error: true, _error_msg: 'Faltan phone o text', phone, text } }];\n}\n\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.conversations) staticData.conversations = {};\n\nconst now = Date.now();\nconst MAX_AGE_MS = 24 * 60 * 60 * 1000;\nfor (const p of Object.keys(staticData.conversations)) {\n  const c = staticData.conversations[p];\n  if (!c.last_activity || (now - c.last_activity > MAX_AGE_MS)) {\n    delete staticData.conversations[p];\n  }\n}\n\nif (!staticData.conversations[phone]) {\n  staticData.conversations[phone] = { history: [], paso_actual: 1, last_activity: now };\n}\n\nconst conv = staticData.conversations[phone];\nconv.last_activity = now;\nconst historySlice = conv.history.slice(-20);\n\nreturn [{ json: { phone, text, session_id: sessionId, _conversation_history: historySlice, _paso_actual: conv.paso_actual, _is_error: false } }];"}}, {"id": "c0000000-0003-0003-0003-000000000003", "name": "Is Input Valid", "type": "n8n-nodes-base.if", "typeVersion": 2.3, "position": [640, 640], "parameters": {"conditions": {"options": {"version": 2, "caseSensitive": true, "leftValue": "", "typeValidation": "strict"}, "conditions": [{"id": "cond-is-error", "leftValue": "={{ $json._is_error }}", "operator": {"type": "boolean", "operation": "true", "singleValue": true}}], "combinator": "and"}, "options": {}}}, {"id": "c0000000-0003-0003-0003-000000000004", "name": "Respond Input Error", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.5, "position": [860, 480], "parameters": {"respondWith": "json", "responseBody": "={{ JSON.stringify({ ok: false, error: $json._error_msg }) }}", "options": {"responseCode": 400}}}, {"id": "c0000000-0003-0003-0003-000000000005", "name": "Load Catalog", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.4, "position": [860, 720], "parameters": {"method": "GET", "url": "https://crm.app20.tech/api/ventas/catalogo", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "x-ventas-webhook-secret", "value": "QYFIikYegDjhHihyXgLjaMxK7I82Wi4MOezeSJn_MzE"}]}, "options": {"response": {"response": {"fullResponse": false, "neverError": true}}}}}, {"id": "c0000000-0003-0003-0003-000000000006", "name": "Build AI Prompt", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1080, 720], "parameters": {"jsCode": "const inputData = $node['Parse Input & Load History'].json;\nconst catalogRaw = $input.first().json;\n\n// Datos del cliente desde DB\nconst clienteDb = (() => { try { return $node['MySQL Get Cliente Ventas'].first()?.json || null; } catch(e) { return null; } })();\nconst vehiculosDb = (() => { try { return $node['MySQL Get Vehiculos Ventas'].all()?.map(i => i.json).filter(v => v && v.id) || []; } catch(e) { return []; } })();\nconst clienteNombre = (clienteDb?.id && (clienteDb.nombre || clienteDb.apellido)) ? [clienteDb.nombre, clienteDb.apellido].filter(Boolean).join(' ').trim() : null;\nconst esClienteNuevo = !clienteDb?.id;\n\nconst phone = inputData.phone;\nconst text = inputData.text;\nconst history = inputData._conversation_history || [];\nconst paso = inputData._paso_actual || 1;\n\n// Formatear el catálogo de forma estructurada para la IA\nlet catalogText = '';\ntry {\n  const catalog = typeof catalogRaw === 'string' ? JSON.parse(catalogRaw) : catalogRaw;\n  const modelos = catalog.modelos || [];\n\n  if (modelos.length > 0) {\n    catalogText += '=== VEHÍCULOS DISPONIBLES ===\\n';\n    for (const m of modelos) {\n      catalogText += `\\n### ${m.nombre_completo} (modelo_id: ${m.id})\\n`;\n      if (m.versiones && m.versiones.length > 0) {\n        for (const v of m.versiones) {\n          const precioFinal = v.descuento_porcentaje > 0\n            ? v.precio_lista * (1 - v.descuento_porcentaje / 100)\n            : v.precio_lista;\n          const stockStr = v.en_stock\n            ? 'EN STOCK'\n            : `BAJO PEDIDO (${v.tiempo_entrega_dias} días hábiles)`;\n          catalogText += `- ${v.nombre_version} (version_id: ${v.version_id})\\n`;\n          catalogText += `  Precio: ${v.precio_lista}`;\n          if (v.descuento_porcentaje > 0) {\n            catalogText += ` | Descuento: ${v.descuento_porcentaje}% | Precio final: ${precioFinal.toFixed(0)}`;\n          }\n          catalogText += `\\n  Disponibilidad: ${stockStr}\\n`;\n          if (v.colores_disponibles && v.colores_disponibles.length > 0) {\n            catalogText += `  Colores: ${Array.isArray(v.colores_disponibles) ? v.colores_disponibles.join(', ') : v.colores_disponibles}\\n`;\n          }\n          if (v.descripcion_equipamiento) {\n            catalogText += `  Equipamiento: ${v.descripcion_equipamiento}\\n`;\n          }\n        }\n      } else {\n        catalogText += '  (Sin versiones disponibles)\\n';\n      }\n      if (m.promociones && m.promociones.length > 0) {\n        catalogText += `  PROMOCIONES ACTIVAS:\\n`;\n        for (const p of m.promociones) {\n          catalogText += `  * ${p.descripcion}${p.valor ? ' — ' + p.valor : ''}${p.fecha_fin ? ' (hasta ' + p.fecha_fin + ')' : ''}\\n`;\n        }\n      }\n    }\n  } else {\n    catalogText += 'No hay vehículos disponibles en el catálogo.\\n';\n  }\n\n  if (catalog.promociones_globales && catalog.promociones_globales.length > 0) {\n    catalogText += '\\n=== PROMOCIONES GENERALES ===\\n';\n    for (const p of catalog.promociones_globales) {\n      catalogText += `- ${p.descripcion}${p.valor ? ' — ' + p.valor : ''}\\n`;\n    }\n  }\n\n  if (catalog.financiamiento) {\n    const fin = typeof catalog.financiamiento === 'string' ? catalog.financiamiento : JSON.stringify(catalog.financiamiento, null, 2);\n    catalogText += `\\n=== OPCIONES DE FINANCIAMIENTO (usar en Paso 5) ===\\n${fin}\\n`;\n  }\n\n  if (catalog.documentacion_natural || catalog.documentacion_juridico) {\n    catalogText += '\\n=== DOCUMENTACIÓN REQUERIDA (usar en Paso 6) ===\\n';\n    if (catalog.documentacion_natural) {\n      const d = typeof catalog.documentacion_natural === 'string' ? catalog.documentacion_natural : JSON.stringify(catalog.documentacion_natural, null, 2);\n      catalogText += `Persona natural:\\n${d}\\n`;\n    }\n    if (catalog.documentacion_juridico) {\n      const d = typeof catalog.documentacion_juridico === 'string' ? catalog.documentacion_juridico : JSON.stringify(catalog.documentacion_juridico, null, 2);\n      catalogText += `Persona jurídica:\\n${d}\\n`;\n    }\n  }\n\n  if (catalog.garantias || catalog.servicios_adicionales) {\n    catalogText += '\\n=== GARANTÍAS Y SERVICIOS ADICIONALES (mencionar en Paso 7) ===\\n';\n    if (catalog.garantias) {\n      const g = typeof catalog.garantias === 'string' ? catalog.garantias : JSON.stringify(catalog.garantias, null, 2);\n      catalogText += `Garantías: ${g}\\n`;\n    }\n    if (catalog.servicios_adicionales) {\n      const s = typeof catalog.servicios_adicionales === 'string' ? catalog.servicios_adicionales : JSON.stringify(catalog.servicios_adicionales, null, 2);\n      catalogText += `Servicios adicionales: ${s}\\n`;\n    }\n  }\n\n} catch (e) {\n  catalogText = 'ERROR: No se pudo cargar el catálogo.';\n}\n\n// Contexto del cliente\nlet clienteContext = '';\nif (!esClienteNuevo) {\n  const vehiculosStr = vehiculosDb.length > 0\n    ? vehiculosDb.map(v => `${v.brand} ${v.model} ${v.year}${v.plate ? ' (' + v.plate + ')' : ''}${v.current_mileage > 0 ? ' | ' + v.current_mileage + ' km' : ''}`).join(', ')\n    : 'ninguno registrado';\n  clienteContext = `=== CLIENTE REGISTRADO ===\\nNombre: ${clienteNombre}\\nTeléfono: ${phone}\\nVehículos actuales: ${vehiculosStr}\\n`;\n} else {\n  clienteContext = `=== CLIENTE NUEVO (primera vez) ===\\nTeléfono: ${phone}\\n`;\n}\n\nconst systemMsg = `Eres un asesor de ventas de IA para una empresa automotriz. Atiendes clientes por WhatsApp con calidez y profesionalismo.\n\n${clienteContext}\n${catalogText}\n\n=== RESPUESTA: SIEMPRE JSON ESTRICTO (sin texto fuera del bloque JSON) ===\n{\n  \"action\": \"continue\" | \"save_lead\" | \"escalate\" | \"redirect_taller\",\n  \"paso_actual\": <1-7>,\n  \"message\": \"<mensaje para WhatsApp>\",\n  \"lead_data\": { <solo incluir cuando action es save_lead o redirect_taller> }\n}\n\n=== MENÚ PRINCIPAL ===\nSIEMPRE muestra este menú cuando la conversación empiece o el cliente no haya seleccionado una opción claramente:\n\n🚗 *1 – Comprar un auto nuevo*\n🔧 *2 – Consultar precio de mantenimiento*\n💬 *3 – Hablar con un asesor*\n\nEscribe el número o el ícono de lo que necesitas.\n\n=== REGLAS DE ENRUTAMIENTO ===\nSi el cliente elige 🔧 (2 / \"mantenimiento\" / \"servicio\" / \"taller\" / \"afinamiento\" / \"aceite\" / \"revisión\"):\n  → action: \"redirect_taller\"\n  → message: mensaje amigable indicando que lo transferirás al área de mantenimiento\n  → lead_data: { \"nombre_cliente\": \"${clienteNombre || ''}\", \"canal\": \"whatsapp\" }\n\nSi el cliente elige 💬 (3 / \"asesor\" / \"hablar con alguien\" / \"persona real\" / \"humano\"):\n  → action: \"escalate\"\n\nSi el cliente elige 🚗 (1 / \"comprar\" / \"auto nuevo\" / \"cotización\" / \"quiero un auto\"):\n  → Continúa con el FLUJO DE COMPRA de 7 pasos\n  ${esClienteNuevo ? '→ El cliente es NUEVO: en el paso 1 saluda y pide su nombre. Pregunta si ya tiene un vehículo.' : `→ El cliente ya está registrado como ${clienteNombre}. Salúdalo por su nombre directamente. ${vehiculosDb.length > 0 ? 'Ya tiene vehículo(s) registrado(s): no preguntes si tiene uno, úsalo como referencia si aplica.' : 'No tiene vehículos registrados.'}`}\n\n=== FLUJO DE COMPRA ===\nEstado actual: Paso ${paso} de 7\n\nPASO 1 – BIENVENIDA: ${esClienteNuevo ? 'Saluda y pide el nombre del cliente. Pregunta si ya tiene un vehículo actualmente.' : `Saluda a ${clienteNombre} por su nombre. Confirma interés en comprar.`}\nPASO 2 – NECESIDADES: ¿Para qué usará el vehículo? ¿Cuántas personas lo usarán habitualmente?\nPASO 3 – PREFERENCIAS: Presenta 2-3 categorías según el uso. Pregunta tipo, combustible, colores y equipamiento deseado.\nPASO 4 – OPCIONES CONCRETAS: Presenta 1-2 vehículos del catálogo con precio, disponibilidad (EN STOCK o BAJO PEDIDO + días), colores y equipamiento. Menciona promociones activas.\nPASO 5 – PRESUPUESTO Y PAGO: ¿Contado o financiamiento? Si financia: presenta opciones de plazo y cuota inicial con las tasas del catálogo.\nPASO 6 – PLAZOS Y DOCUMENTACIÓN: Confirma tiempo de entrega. Menciona documentación requerida (natural o jurídico según corresponda).\nPASO 7 – RESUMEN Y CIERRE: Presenta resumen completo. Cuando el cliente confirme → action: \"save_lead\".\n\n=== DATOS PARA SAVE_LEAD ===\n{\n  \"nombre_cliente\": \"${clienteNombre || '...'}\",\n  \"email\": \"${clienteDb?.email || '...'}\",\n  \"modelo_id\": <ID exacto del catálogo>,\n  \"version_id\": <ID exacto del catálogo>,\n  \"modelo_nombre\": \"...\",\n  \"version_nombre\": \"...\",\n  \"precio_final\": <número>,\n  \"moneda\": \"PEN\",\n  \"forma_pago\": \"contado\" | \"financiamiento\",\n  \"plazo_meses\": <número o null>,\n  \"cuota_inicial\": <número o null>,\n  \"tiempo_entrega_dias\": <número>,\n  \"uso_vehiculo\": \"...\",\n  \"personas_habituales\": <número>,\n  \"presupuesto_rango\": \"...\",\n  \"equipamiento_requerido\": \"...\",\n  \"tiene_historial_crediticio\": true | false | null,\n  \"notas_agente\": \"...\"\n}\n\n=== REGLAS GENERALES ===\n- Responde en español, amigable y conciso (máx. 280 palabras por mensaje)\n- NUNCA inventes precios, modelos ni versiones fuera del catálogo\n- precio_final = precio_lista × (1 − descuento_porcentaje/100)\n- Si el cliente pregunta algo fuera del scope → action: \"escalate\"\n- Recuerda el menú si la conversación lleva 2+ turnos sin dirección clara`;\n\nconst messages = [\n  { role: 'system', content: systemMsg },\n  ...history,\n  { role: 'user', content: text }\n];\n\nreturn [{ json: { phone, text, session_id: inputData.session_id, _paso_actual: paso, _messages: messages } }];"}}, {"id": "c0000000-0003-0003-0003-000000000007", "name": "Call OpenAI API", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.4, "position": [1300, 720], "parameters": {"method": "POST", "url": "https://api.openai.com/v1/chat/completions", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Content-Type", "value": "application/json"}]}, "sendBody": true, "contentType": "raw", "rawContentType": "application/json", "body": "={{ JSON.stringify({ model: 'gpt-4o-mini', messages: $json._messages, max_tokens: 1024, temperature: 0.4 }) }}", "options": {"response": {"response": {"fullResponse": true, "neverError": true}}}, "authentication": "predefinedCredentialType", "nodeCredentialType": "openAiApi"}, "credentials": {"openAiApi": {"id": "fZ0D7FYD8Vw5VmRz", "name": "OpenAi account"}}}, {"id": "c0000000-0003-0003-0003-000000000008", "name": "Parse LLM Response", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1520, 720], "parameters": {"jsCode": "const httpResp = $input.first().json;\nconst inputData = $node['Build AI Prompt'].json;\n\nconst httpStatus = Number(httpResp.statusCode || httpResp.status || 200);\nconst respBody = httpResp.body || httpResp;\n\nlet rawText = '';\ntry {\n  const body = typeof respBody === 'string' ? JSON.parse(respBody) : respBody;\n  rawText = body?.choices?.[0]?.message?.content?.trim() || '';\n} catch(e) {\n  rawText = '';\n}\n\nlet parsed = { action: 'continue', paso_actual: inputData._paso_actual || 1, message: '', lead_data: {} };\ntry {\n  const jsonMatch = rawText.match(/```json\\s*([\\s\\S]*?)\\s*```/) ||\n                    rawText.match(/```\\s*([\\s\\S]*?)\\s*```/) ||\n                    rawText.match(/({[\\s\\S]*})/);\n  const jsonStr = jsonMatch ? (jsonMatch[1] || jsonMatch[0]) : rawText;\n  parsed = JSON.parse(jsonStr.trim());\n} catch (e) {\n  parsed.message = rawText || 'Lo siento, tuve un problema. Por favor escribe nuevamente o escribe \"agente\" para hablar con una persona.';\n  parsed.action = 'continue';\n}\n\nconst VALID_ACTIONS = ['continue', 'save_lead', 'escalate', 'redirect_taller'];\nif (!VALID_ACTIONS.includes(parsed.action)) parsed.action = 'continue';\nif (!parsed.message) parsed.message = 'Un momento, estoy procesando tu solicitud.';\n\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.conversations) staticData.conversations = {};\n\nconst phone = inputData.phone;\nif (!staticData.conversations[phone]) {\n  staticData.conversations[phone] = { history: [], paso_actual: 1, last_activity: Date.now() };\n}\n\nconst conv = staticData.conversations[phone];\nconv.history.push({ role: 'user', content: inputData.text });\nconv.history.push({ role: 'assistant', content: parsed.message });\nif (conv.history.length > 40) conv.history = conv.history.slice(-40);\nconv.paso_actual = parsed.paso_actual || conv.paso_actual;\nconv.last_activity = Date.now();\n\nif (parsed.action === 'save_lead' || parsed.action === 'escalate' || parsed.action === 'redirect_taller') {\n  delete staticData.conversations[phone];\n}\n\nreturn [{ json: { phone: inputData.phone, session_id: inputData.session_id, text: inputData.text, _action: parsed.action, _paso_actual: parsed.paso_actual || inputData._paso_actual, _reply_msg: parsed.message, _lead_data: parsed.lead_data || {}, _llm_ok: httpStatus >= 200 && httpStatus < 300 } }];"}}, {"id": "c0000000-0003-0003-0003-000000000009", "name": "Route By Action", "type": "n8n-nodes-base.switch", "typeVersion": 3.4, "position": [1740, 720], "parameters": {"mode": "rules", "rules": {"values": [{"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"}, "conditions": [{"id": "rule-continue", "leftValue": "={{ $json._action }}", "rightValue": "continue", "operator": {"type": "string", "operation": "equals"}}], "combinator": "and"}, "renameOutput": true, "outputKey": "continue"}, {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"}, "conditions": [{"id": "rule-save-lead", "leftValue": "={{ $json._action }}", "rightValue": "save_lead", "operator": {"type": "string", "operation": "equals"}}], "combinator": "and"}, "renameOutput": true, "outputKey": "save_lead"}, {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"}, "conditions": [{"id": "rule-escalate", "leftValue": "={{ $json._action }}", "rightValue": "escalate", "operator": {"type": "string", "operation": "equals"}}], "combinator": "and"}, "renameOutput": true, "outputKey": "escalate"}, {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"}, "conditions": [{"id": "rule-redirect-taller", "leftValue": "={{ $json._action }}", "rightValue": "redirect_taller", "operator": {"type": "string", "operation": "equals"}}], "combinator": "and"}, "renameOutput": true, "outputKey": "redirect_taller"}]}, "options": {}}}, {"id": "c0000000-0003-0003-0003-000000000010", "name": "Send WA Reply", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.4, "position": [1960, 520], "parameters": {"method": "POST", "url": "https://graph.facebook.com/v22.0/1050005281518785/messages", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Content-Type", "value": "application/json"}]}, "sendBody": true, "contentType": "raw", "rawContentType": "application/json", "body": "={{ JSON.stringify({ messaging_product: 'whatsapp', recipient_type: 'individual', to: $json.phone, type: 'text', text: { preview_url: false, body: $json._reply_msg } }) }}", "options": {"response": {"response": {"neverError": true}}}, "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth"}, "credentials": {"httpHeaderAuth": {"id": "R3RBoOJI0liqLpYq", "name": "whatsapp api"}}}, {"id": "c0000000-0003-0003-0003-000000000011", "name": "Log Reply to CRM", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.4, "position": [2180, 520], "parameters": {"method": "POST", "url": "https://crm.app20.tech/api/conversations/webhook", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "x-conversations-webhook-secret", "value": "n5-mQcvWFOlD6fMo49cT2jodvSF2WV6WTm6Y0nd1YFGxQcayQQJHFHiIF4QDmc8Q"}, {"name": "Content-Type", "value": "application/json"}]}, "sendBody": true, "contentType": "raw", "rawContentType": "application/json", "body": "={{ JSON.stringify({ event_type: 'agent_message', source: 'ventas_ia', source_channel: 'whatsapp', phone: $node['Parse LLM Response'].json.phone, session_id: $node['Parse LLM Response'].json.session_id, text: $node['Parse LLM Response'].json._reply_msg, payload: { action: 'continue', paso_actual: $node['Parse LLM Response'].json._paso_actual } }) }}", "options": {"response": {"response": {"neverError": true}}}}}, {"id": "c0000000-0003-0003-0003-000000000012", "name": "Respond Continue OK", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.5, "position": [2400, 520], "parameters": {"respondWith": "json", "responseBody": "={{ JSON.stringify({ ok: true, action: 'continue', phone: $node['Parse LLM Response'].json.phone, paso_actual: $node['Parse LLM Response'].json._paso_actual }) }}", "options": {"responseCode": 200}}}, {"id": "c0000000-0003-0003-0003-000000000013", "name": "Save Lead to CRM", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.4, "position": [1960, 720], "parameters": {"method": "POST", "url": "https://crm.app20.tech/api/ventas/leads", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "x-ventas-webhook-secret", "value": "QYFIikYegDjhHihyXgLjaMxK7I82Wi4MOezeSJn_MzE"}, {"name": "Content-Type", "value": "application/json"}]}, "sendBody": true, "contentType": "raw", "rawContentType": "application/json", "body": "={{ JSON.stringify(Object.assign({ telefono: $json.phone, session_id: $json.session_id }, $json._lead_data)) }}", "options": {"response": {"response": {"neverError": true}}}}}, {"id": "c0000000-0003-0003-0003-000000000014", "name": "Send WA Summary", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.4, "position": [2180, 720], "parameters": {"method": "POST", "url": "https://graph.facebook.com/v22.0/1050005281518785/messages", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Content-Type", "value": "application/json"}]}, "sendBody": true, "contentType": "raw", "rawContentType": "application/json", "body": "={{ JSON.stringify({ messaging_product: 'whatsapp', recipient_type: 'individual', to: $node['Parse LLM Response'].json.phone, type: 'text', text: { preview_url: false, body: $node['Parse LLM Response'].json._reply_msg } }) }}", "options": {"response": {"response": {"neverError": true}}}, "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth"}, "credentials": {"httpHeaderAuth": {"id": "R3RBoOJI0liqLpYq", "name": "whatsapp api"}}}, {"id": "c0000000-0003-0003-0003-000000000015", "name": "Log Lead to CRM", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.4, "position": [2400, 720], "parameters": {"method": "POST", "url": "https://crm.app20.tech/api/conversations/webhook", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "x-conversations-webhook-secret", "value": "n5-mQcvWFOlD6fMo49cT2jodvSF2WV6WTm6Y0nd1YFGxQcayQQJHFHiIF4QDmc8Q"}, {"name": "Content-Type", "value": "application/json"}]}, "sendBody": true, "contentType": "raw", "rawContentType": "application/json", "body": "={{ JSON.stringify({ event_type: 'agent_message', source: 'ventas_ia', source_channel: 'whatsapp', phone: $node['Parse LLM Response'].json.phone, session_id: $node['Parse LLM Response'].json.session_id, text: $node['Parse LLM Response'].json._reply_msg, payload: { action: 'save_lead', paso_actual: 7 } }) }}", "options": {"response": {"response": {"neverError": true}}}}}, {"id": "c0000000-0003-0003-0003-000000000016", "name": "Respond Lead OK", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.5, "position": [2620, 720], "parameters": {"respondWith": "json", "responseBody": "={{ JSON.stringify({ ok: true, action: 'save_lead', phone: $node['Parse LLM Response'].json.phone }) }}", "options": {"responseCode": 200}}}, {"id": "c0000000-0003-0003-0003-000000000017", "name": "Send WA Escalate", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.4, "position": [1960, 920], "parameters": {"method": "POST", "url": "https://graph.facebook.com/v22.0/1050005281518785/messages", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Content-Type", "value": "application/json"}]}, "sendBody": true, "contentType": "raw", "rawContentType": "application/json", "body": "={{ JSON.stringify({ messaging_product: 'whatsapp', recipient_type: 'individual', to: $json.phone, type: 'text', text: { preview_url: false, body: $json._reply_msg } }) }}", "options": {"response": {"response": {"neverError": true}}}, "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth"}, "credentials": {"httpHeaderAuth": {"id": "R3RBoOJI0liqLpYq", "name": "whatsapp api"}}}, {"id": "c0000000-0003-0003-0003-000000000018", "name": "Log Escalate to CRM", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.4, "position": [2180, 920], "parameters": {"method": "POST", "url": "https://crm.app20.tech/api/conversations/webhook", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "x-conversations-webhook-secret", "value": "n5-mQcvWFOlD6fMo49cT2jodvSF2WV6WTm6Y0nd1YFGxQcayQQJHFHiIF4QDmc8Q"}, {"name": "Content-Type", "value": "application/json"}]}, "sendBody": true, "contentType": "raw", "rawContentType": "application/json", "body": "={{ JSON.stringify({ event_type: 'agent_message', source: 'ventas_ia', source_channel: 'whatsapp', phone: $node['Parse LLM Response'].json.phone, session_id: $node['Parse LLM Response'].json.session_id, text: $node['Parse LLM Response'].json._reply_msg, payload: { action: 'escalate', paso_actual: $node['Parse LLM Response'].json._paso_actual, needs_human: true } }) }}", "options": {"response": {"response": {"neverError": true}}}}}, {"id": "c0000000-0003-0003-0003-000000000019", "name": "Respond Escalate OK", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.5, "position": [2400, 920], "parameters": {"respondWith": "json", "responseBody": "={{ JSON.stringify({ ok: true, action: 'escalate', phone: $node['Parse LLM Response'].json.phone, needs_human: true }) }}", "options": {"responseCode": 200}}}, {"id": "c0000000-0003-0003-0003-000000000020", "name": "Send WA Taller Redirect", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1960, 1120], "parameters": {"method": "POST", "url": "https://graph.facebook.com/v22.0/1050005281518785/messages", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Content-Type", "value": "application/json"}]}, "sendBody": true, "contentType": "raw", "rawContentType": "application/json", "body": "={{ JSON.stringify({ messaging_product: 'whatsapp', recipient_type: 'individual', to: $json.phone, type: 'text', text: { preview_url: false, body: $json._reply_msg } }) }}", "options": {"response": {"response": {"neverError": true}}}, "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth"}, "credentials": {"httpHeaderAuth": {"id": "R3RBoOJI0liqLpYq", "name": "whatsapp api"}}}, {"id": "c0000000-0003-0003-0003-000000000021", "name": "Log Taller Lead to CRM", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [2180, 1120], "parameters": {"method": "POST", "url": "https://crm.app20.tech/api/ventas/leads-taller", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "x-ventas-webhook-secret", "value": "QYFIikYegDjhHihyXgLjaMxK7I82Wi4MOezeSJn_MzE"}, {"name": "Content-Type", "value": "application/json"}]}, "sendBody": true, "contentType": "raw", "rawContentType": "application/json", "body": "={{ JSON.stringify({ telefono: $json.phone, session_id: $json.session_id, canal: 'whatsapp', nombre_cliente: $json._lead_data.nombre_cliente || null, detalle: 'Cliente redirigido al taller desde agente de ventas WhatsApp' }) }}", "options": {"response": {"response": {"neverError": true}}}}}, {"id": "c0000000-0003-0003-0003-000000000022", "name": "Respond Taller OK", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.1, "position": [2400, 1120], "parameters": {"respondWith": "json", "responseBody": "={ \"ok\": true, \"redirected_to\": \"taller\" }", "options": {"responseCode": 200}}}, {"id": "mgc-ventas-01", "name": "MySQL Get Cliente Ventas", "type": "n8n-nodes-base.mySql", "typeVersion": 2.4, "position": [860, 500], "parameters": {"operation": "executeQuery", "query": "SELECT id, COALESCE(nombre,'') as nombre, COALESCE(apellido,'') as apellido, COALESCE(email,'') as email, COALESCE(celular,'') as celular FROM clientes WHERE celular = '{{ $('Parse Input & Load History').first().json.phone }}' LIMIT 1", "options": {}}, "credentials": {"mySql": {"id": "JumLf23QwCL0AY3N", "name": "MySQL account"}}}, {"id": "mgv-ventas-01", "name": "MySQL Get Vehiculos Ventas", "type": "n8n-nodes-base.mySql", "typeVersion": 2.4, "position": [1080, 500], "parameters": {"operation": "executeQuery", "query": "SELECT v.id, COALESCE(v.placas,'') as plate, COALESCE(v.anio,0) as year, COALESCE(v.color,'') as color, COALESCE(v.kilometraje,0) as current_mileage, COALESCE(m.name,'') as brand, COALESCE(mo.name,'') as model FROM vehiculos v LEFT JOIN marcas m ON v.marca_id = m.id LEFT JOIN modelos mo ON v.modelo_id = mo.id INNER JOIN clientes c ON v.cliente_id = c.id WHERE c.celular = '{{ $('Parse Input & Load History').first().json.phone }}' AND v.deleted_at IS NULL ORDER BY v.id ASC", "options": {}}, "credentials": {"mySql": {"id": "JumLf23QwCL0AY3N", "name": "MySQL account"}}}, {"id": "c0000000-0003-0003-0003-000000000025", "name": "Clear Ventas Session", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1960, 1300], "parameters": {"method": "PATCH", "url": "https://crm.app20.tech/api/ventas/route-dispatch", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "x-ventas-webhook-secret", "value": "QYFIikYegDjhHihyXgLjaMxK7I82Wi4MOezeSJn_MzE"}, {"name": "Content-Type", "value": "application/json"}]}, "sendBody": true, "contentType": "raw", "rawContentType": "application/json", "body": "={{ JSON.stringify({ phone: $json.phone }) }}", "options": {"response": {"response": {"neverError": true}}}}}], "connections": {"Webhook Inbound Ventas": {"main": [[{"node": "Parse Input & Load History", "type": "main", "index": 0}]]}, "Parse Input & Load History": {"main": [[{"node": "Is Input Valid", "type": "main", "index": 0}]]}, "Is Input Valid": {"main": [[{"node": "Respond Input Error", "type": "main", "index": 0}], [{"node": "MySQL Get Cliente Ventas", "type": "main", "index": 0}]]}, "Load Catalog": {"main": [[{"node": "Build AI Prompt", "type": "main", "index": 0}]]}, "Build AI Prompt": {"main": [[{"node": "Call OpenAI API", "type": "main", "index": 0}]]}, "Call OpenAI API": {"main": [[{"node": "Parse LLM Response", "type": "main", "index": 0}]]}, "Parse LLM Response": {"main": [[{"node": "Route By Action", "type": "main", "index": 0}]]}, "Route By Action": {"main": [[{"node": "Send WA Reply", "type": "main", "index": 0}], [{"node": "Save Lead to CRM", "type": "main", "index": 0}], [{"node": "Send WA Escalate", "type": "main", "index": 0}], [{"node": "Clear Ventas Session", "type": "main", "index": 0}]]}, "Send WA Reply": {"main": [[{"node": "Log Reply to CRM", "type": "main", "index": 0}]]}, "Log Reply to CRM": {"main": [[{"node": "Respond Continue OK", "type": "main", "index": 0}]]}, "Save Lead to CRM": {"main": [[{"node": "Send WA Summary", "type": "main", "index": 0}]]}, "Send WA Summary": {"main": [[{"node": "Log Lead to CRM", "type": "main", "index": 0}]]}, "Log Lead to CRM": {"main": [[{"node": "Respond Lead OK", "type": "main", "index": 0}]]}, "Send WA Escalate": {"main": [[{"node": "Log Escalate to CRM", "type": "main", "index": 0}]]}, "Log Escalate to CRM": {"main": [[{"node": "Respond Escalate OK", "type": "main", "index": 0}]]}, "Send WA Taller Redirect": {"main": [[{"node": "Log Taller Lead to CRM", "type": "main", "index": 0}]]}, "Log Taller Lead to CRM": {"main": [[{"node": "Respond Taller OK", "type": "main", "index": 0}]]}, "MySQL Get Cliente Ventas": {"main": [[{"node": "MySQL Get Vehiculos Ventas", "type": "main", "index": 0}]]}, "MySQL Get Vehiculos Ventas": {"main": [[{"node": "Load Catalog", "type": "main", "index": 0}]]}, "Clear Ventas Session": {"main": [[{"node": "Send WA Taller Redirect", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "saveDataErrorExecution": "all", "saveDataSuccessExecution": "all", "saveManualExecutions": true, "callerPolicy": "workflowsFromSameOwner", "availableInMCP": false}}
